* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-image: url(./form-content/background.jpg); /*Photo by Simon Berger from Pexels*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}

.background{
    background-color: white;
    width: max-content;
    height: max-content;
    margin: auto;
    padding: 2rem 3rem;
}

.web-form label{
    margin-top: 2rem;
    font-size: 2rem;
    display: block;
}

.web-form input{
    font-size: 2.5rem;
    display: block;
}

.result button,
.web-form button{
    margin-top: 1.7rem;
    padding: 2rem 4rem;
    border: 0.3rem solid rgb(46, 148, 77);
    color: white;
    font-size: 2.4rem;
    border-radius: 1rem;
    background: rgb(46, 148, 77);
}

.result button:hover,
.web-form button:hover{
    background: rgb(25, 109, 50);
    border: 0.3rem solid rgb(25, 109, 50);
}

.result button:focus,
.web-form button:focus{
    background: firebrick;
    border: 0.3rem solid firebrick;
}

/*Inherit from * & html*/
.result{
    font-size: 5rem;
    background-color: white;
    margin-top: 8rem;
    padding: 1rem 0rem 2rem 0rem;
}
